@model BikeApp.Models.KeyModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="map" style="height: 400px; width: 100%;"></div>
<script>
    function initMap() {
        var options = {
            zoom: 12,
            center: { lat: 60.19193, lng: 24.91967 }
        };

        var map = new google.maps.Map(document.getElementById('map'), options);
        var infoWindow = new google.maps.InfoWindow();

        var openInfoWindow = null;

    @if (Model.Stations != null && Model.Stations.Count > 0)
    {
        @foreach (var station in Model.Stations)
        {
            <text>
                var lng = parseFloat('@station.X'.replace(',', '.'));
                var lat = parseFloat('@station.Y'.replace(',', '.'));

                if (!isNaN(lat) && !isNaN(lng)) {
                    var marker = new google.maps.Marker({
                        position: { lat: lat, lng: lng },
                        map: map
                    });

                    var content = '<div><h3>' + '@station.Nimi' + '</h3>' +
                        '<p><strong>' + '@station.Namn' + '</strong></p>' +
                        '<p>' + 'Osoite: ' + '@station.Osoite' + '</p>' +
                        '<p>' + 'Kaupunki: ' + '@station.Kaupunki' + '</p>' +
                        '<p>' + 'Operaattori: ' + '@station.Operaattor' + '</p>' +
                        '<p>' + 'Kapasiteetti: ' + '@station.Kapasiteet' + '</p></div>';

                    addMarkerListener(marker, content);
                }
            </text>
        }
    }

            function addMarkerListener(marker, content) {
                marker.addListener('click', function () {
                    if (openInfoWindow) {
                        openInfoWindow.close();
                    }

                    infoWindow.setContent(content);
                    infoWindow.open(map, marker);
                    openInfoWindow = infoWindow;
                });
            }
    }

    function loadGoogleMaps() {
        var script = document.createElement('script');
        script.src = 'https://maps.googleapis.com/maps/api/js?key=@Model?.Key&callback=initMap';
        document.head.appendChild(script);
    }

    window.addEventListener('load', loadGoogleMaps);
</script>
